<div class="container">
    <form class="form-horizontal" [formGroup]="productForm">
        <div class="form-group" [ngClass]="{'has-error': displayMessage.code}">
            <label for="code" class="col-sm-2 control-label">Code</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="code" placeholder="Code" formControlName="code">
                <span class="help-block" *ngIf="displayMessage.code">
                    {{displayMessage.code}}
                </span>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':displayMessage.name}">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
                <span class="help-block" *ngIf="displayMessage.name">
                    {{displayMessage.name}}
                </span>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': displayMessage.description}">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" id="description" placeholder="Description" formControlName="description"></textarea>
                <span class="help-block" *ngIf="displayMessage.description">
                    {{displayMessage.description}}
                </span>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': displayMessage.price}">
            <label for="price" class="col-sm-2 control-label">Price</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="price" placeholder="Price" formControlName="price">
                <span class="help-block" *ngIf="displayMessage.price">
                    {{displayMessage.price}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Elaboration</label>
            <div class="col-md-8">
                <label class="radio-inline">
                    <input type="radio" id="international" formControlName="elaboration" value="International" name="elaboration">International
                </label>
                <label class="radio-inline">
                    <input type="radio" id="national" formControlName="elaboration" value="National" name="elaboration">National
                </label>
            </div>
        </div>
        <div class="form-group" *ngIf="productForm.get('elaboration').value == 'International'">
            <label for="internationalTax" class="col-md-2 control-label">International TAX</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="internationalTax" placeholder="TAX" id="internationalTax">
            </div>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Save</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </form>
</div>

<br/>
<br/>
<br/>
<br/> {{productForm.value | json}}